<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>Truffle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://kit.fontawesome.com/560ecaf078.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="page">
        <nav>
            <a href="#" class="top">
                <i class="fas fa-book"></i>
                <span class="tool tip1">Recipes</span>
            </a>
            <a href="#" class="search"> 
                <i class="fas fa-search"></i>
                <span class="tool tip2">Search</span>
            </a>
            <a href="#" class="cart"> 
                <i class="fas fa-shopping-cart"></i>
                <span class="tool tip3">Grocery</span>
            </a>
            <a href="#"class="bottom">
                <i class="fas fa-sign-out-alt"></i>
                <span class="tool tip4">Logout</span>
            </a>
        </nav>
        <section>
            <h1 class="truffle truffleHome">Truffle</h1>
            <span class="blurb">Get just the ingredients and directions for any recipe. No</span>
            <span class="blurb2">life story, no popups, no email lists.</span>
            <span class="blurb3">Get just the ingredients and directions for any recipe. No life story, no popups, no email lists.</span>
            <form class="form" action="/grabRecipe" method="POST">
                <input class="importRecipe" type="text" name="url" placeholder="Paste the URL of a recipe" id="">
                <button class="importRecipe2" type="submit" value="Import" name="" id=""><i class="fas fa-search"></i></button>
            </form>
        </section>
    </section>




    <script src="js/main.js"></script>
</body>
</html>