/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* HOME PAGE
/*******************************************/
section {
  color: #dde2e3;
}
body {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/image11.jpg);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #333333;
  border-right: 1px solid #333;
}
nav a {
  font-size: 1.8em;
  display: inline-block;
  text-decoration: none;
  padding: 15px 15px;
  color: #dde2e3 !important;
}
nav a:hover {
  color: #fcc201 !important;
}
.tool {
  display: none;
  position: absolute;
  left: 3em;
  font-size: 0.6em;
  font-family: 'Source Sans Pro', sans-serif;
  background: #dde2e3;
  border-radius: 0.5em;
  padding: 0.2em;
  color: #333;
  border: 1px solid #c0c0c0;
  opacity: 1; 
}
.top:hover .tip1, .search:hover .tip2, .cart:hover .tip3, .bottom:hover .tip4 {
  display: block;
}
.tip1{
  top: 6.6em;
}
.tip2{
  top: 10.3em;
}
.tip3 {
  top: 14em;
  left: 3.3em;
}
.tip4{
  top: 17.7em;
}
.top {
  margin-top: 100px;
}

.page {
  margin-left: 60px;
  padding: 25px;
}
.truffle, .blurb, .blurb2, .form{
  display: flex;
  justify-content: center;
}
.blurb, .blurb2 {
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #dde2e3;
  
}
.blurb2 {
  margin-bottom: 2%;
}
.blurb3 {
  display: none;
}
.importRecipe {
  width: 50%;
   border:0; outline:0;
   border-radius: 1em;
     padding: 1em;
     display: block;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
}

.importRecipe2 {
  background: #fff;
  width: 5em;
  border:0; outline:0;
   border-radius: 1em;
   margin-left: -1.7em;
   margin-top: 1em;
}
.importRecipe2:hover {
  background: #fcc201;
}
.form{
  padding: 0 1em;
}


/******************************************
/* MEDIA QUERIES FOR HOME PAGE
/*******************************************/

@media screen and (min-width:1920px) {
  .importRecipe {
    width: 35%;
    border:0; outline:0;
    border-radius: 1em;
     padding: 1em;
     display: block;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
}

  .importRecipe2 {
    background: #fff;
    width: 5em;
    border:0; outline:0;
    border-radius: 1em;
    margin-left: -1.7em;
    margin-top: 1em;
}
  .importRecipe2:hover {
    background: #fcc201;
}
}

@media screen and (max-width: 750px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background-color: #333333;
    border-right: 1px solid #333;
  }
  nav a {
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    color: #dde2e3;
  }
  nav a:hover {
    color: #fcc201;
  }
  .tip1{
    top: 11.5em;
  }
  .tip2{
    top: 15.3em;
  }
  .tip3 {
    top: 19.4em;
    left: 3.3em;
  }
  .tip4{
    top: 23.2em;
  }
  .page{
    margin: 30px 19px 30px 30px;
  }
  .truffle {
    font-size: 4em;
  }

  .blurb, .blurb2 {
   display: none;
  }
  .blurb3 {
    display: block;
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #dde2e3;
    margin-bottom: 2%;
    padding-left: 8%;
    padding-right: 0.5em;
    padding-top: 0.5em;
    
  }
  .importRecipe {
    width: 100%;
  }
  .truffleHome {
    font-size: 6em;
  }
}

/******************************************
/* RECIPE PAGE
/*******************************************/
.smallTruffle, .smallInput{
  float: left;
  clear: both;
}
.smallForm{
  width: 40%;
}
.smallTruffle {
  margin: 0;
  font-size: 4em;
  padding-left: 1em;
}
.recipe {
  border: 3px solid white;
  border-radius: 1em;
  background: white;
  align-self: center;
  margin: auto;
}
.recipePt1 {
  margin: 3em 3em 0 3em;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.recipePt2 {
  margin: 0 2.5em 3em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipeImage {
  flex: 0 0 40%;
}
img {
  object-fit: cover;
  width: 100%;
  border-radius: 1em;
}
.recipeStuff {
  position: relative;
  top: -6.5em;
  margin-left: 1em;
}
.recipeName {
  font-size: 2em;
  color: black;
  padding-left: 1em;
}
.recipeCook, .recipeServings, .recipeOg, .serving {
  position: relative;
  margin-bottom: 2em;
  color: #8f8fa3;
  font-family: 'Nunito Sons', sans-serif;
}
.recipeCook, .recipeServings {
  margin-right: 1em;
}

.recipeIngredients, .recipeInstructions {
  font-size: 1em;
  font-family: 'Nunito Sons', sans-serif;
  color: black;
  margin: 0;
  padding: 0.5em 0 0.5em 0;
}
.recipeIngredients {
  list-style-type: none;
}
.recipeInstructions {
  line-height: 1.5em;
} 
.strong {
  padding-bottom: 1.3em;
}
.border {
  border-bottom: 1px solid #f2f2f2;
}
.recipeIngredients2, .recipeInstructions2 {
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0 0 0 2em;
}
.recipeInstructions2 {
  padding-left: 2em;
}

strong {
  font-size: 1.5em;
}
#clock, #pie, #link, #print {
  color: #8f8fa3;
}
#print {
  font-size: 1.5em;
  padding: 1em 0 1em 0.5em;
}
.recipeSave {
  display: inline-block;
}
.recipeSaveLink, .button4 {
  display: block;
  font-family: 'Nunito Sons', sans-serif;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:1em;
  color: #fff;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  background-color: #ef233c;
}
.recipeSaveLink {
  margin-left: 3em;
  padding: 0.5em;
  text-decoration: none;
}
.print {
  margin-left: 0.5em;
  text-decoration: none;
  color: #8f8fa3;
  font-family: 'Nunito Sons', sans-serif;
  width: 4em;
  height: 2em;
}
.recipeSaveLink, .recipeStuff {
  display: inline-block;
}

/******************************************
/* MEDIA QUERIES FOR RECIPE PAGE
/*******************************************/
@media screen and (min-width: 1025px) {
  .recipe {
    width: 56em;
    margin-top: 4em;
  }
  .smallForm {
    padding: 0;
  }
  .recipeExtra {
    margin-left:  12em;
  }
}
@media screen and (max-width: 1024px) {
  .smallForm {
    position: relative;
    width: 80%;
    margin: 0;
  }
  .page {
    padding-right: 0;
  }
  .recipe {
    width: 100%;
    margin: 3em 0 0 0;
  }
  .recipePt2 {
    margin: 3em 0 0 0;
  }
  .recipeInstructions2 {
    padding: 0;
    margin: 0 2em 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .smallForm {
    width: 100%;
  }
  .smallTruffle {
    padding-left: 24%;
  }
  .recipeCook, .recipeServings, .serving, .recipeOg, #clock, #pie, #link{
    display: none;
  }
  img {
    margin: 0;
  }
  .page {
    margin-right: 0;
    padding-left: 3px;
  }
  .recipePt1 {
    margin: 0;
  }
  .recipePt2 {
    margin-top: 0;
  }
  .recipeName {
    font-size: 2em;
  }
  .recipeInstructions2 {
    margin-right: 2em;
    padding: 2em;
  }
  .recipeSaveLink, #print {
    display: inline-block;
  }
  #print {
    padding: 0 0 1em 0.5em;
  }
}
@media screen and (min-width: 781px) {
  .recipeName {
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2em;
  }
  
}
@media screen and (min-width: 651px) {
  .recipeName {
    font-size: 2.2em !important;
  }
  .recipeInstructions2 {
    padding: 0 0 0 1em;
  }
}
@media screen and (max-width: 650px) {
  .recipeInstructions2 {
    margin-right: 2em;
    padding-left: 2em;
  }
  .recipeName {
    font-size: 1.3em;
  }
  .recipePt1 {
    height: 50%;
  }
  .recipePt2 {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .recipeName {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 412px) {
  .recipeName {
    margin-right: 0;
  }
  .recipeSave {
    margin-top: 1em;
  }
}
@media screen and (min-width: 800px) {
  .recipeName {
    margin-right: 0;
  }
}
@media print{ 
  @page {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .recipeStuff {
    position: relative;
    top: 1em;
    left: 2em;
  }
  .recipeName {
    padding: 0;
  }
}