/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
section {
  color: #dde2e3;
}
body {
  margin: 0;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/image2.jpg);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #333333;
  border-right: 1px solid #333;
}
nav a {
  font-size: 1.8em;
  display: inline-block;
  text-decoration: none;
  padding: 15px 15px;
  color: #dde2e3;
}
nav a:hover {
  color: #009879;
}
.top {
  margin-top: 100px;
}

.page {
  margin-left: 60px;
  padding: 25px;
}
.container1 {
  width: 50%;
  height: 100px;
  margin-top: 20%;
  margin-left: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.center {
  flex: 0 0 100%;
} */
.truffle {
  font-size: 16em !important;
  margin-bottom: 0;
}
.filler, .filler2 {
  font-size: 1.5em;
}

.filler2 {
  display: flex;
  justify-content: center;
}
.importRecipe, .importRecipe2 {
  border: 0 solid red;
}
.importRecipe {
  width: 80%;

}
