/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* HOME PAGE
/*******************************************/
section {
  color: #dde2e3;
}
body {
  margin: 0;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/image9.jpg);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background-color: #333333;
  border-right: 1px solid #333;
}
nav a {
  font-size: 1.8em;
  display: inline-block;
  text-decoration: none;
  padding: 15px 15px;
  color: #dde2e3;
}
nav a:hover {
  color: #fcc201;
}
.tool {
  display: none;
  position: absolute;
  left: 3em;
  font-size: 0.6em;
  font-family: 'Source Sans Pro', sans-serif;
  background: #dde2e3;
  border-radius: 0.5em;
  padding: 0.2em;
  color: #333;
  border: 1px solid #c0c0c0;
  opacity: 1; 
}
.top:hover .tip1, .search:hover .tip2, .cart:hover .tip3, .bottom:hover .tip4 {
  display: block;
}
.tip1{
  top: 6.6em;
}
.tip2{
  top: 10.3em;
}
.tip3 {
  top: 14em;
  left: 3.3em;
}
.tip4{
  top: 17.7em;
}
.top {
  margin-top: 100px;
}

.page {
  margin-left: 60px;
  padding: 25px;
  padding-bottom: 200px;
}
.truffle, .blurb, .blurb2, .form{
  display: flex;
  justify-content: center;
}
.blurb, .blurb2 {
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #dde2e3;
  
}
.blurb2 {
  margin-bottom: 2%;
}
.blurb3 {
  display: none;
}
.importRecipe {
  width: 50%;
   border:0; outline:0;
   border-radius: 1em;
     padding: 1em;
     display: block;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
}

.importRecipe2 {
  background: #fff;
  width: 5em;
  border:0; outline:0;
   border-radius: 1em;
   margin-left: -1.7em;
   margin-top: 1em;
}
.importRecipe2:hover {
  background: #fcc201;
}


/******************************************
/* MEDIA QUERIES FOR HOME PAGE
/*******************************************/

@media screen and (min-width:1920px) {
  .importRecipe {
    width: 35%;
    border:0; outline:0;
    border-radius: 1em;
     padding: 1em;
     display: block;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
}

  .importRecipe2 {
    background: #fff;
    width: 5em;
    border:0; outline:0;
    border-radius: 1em;
    margin-left: -1.7em;
    margin-top: 1em;
}
  .importRecipe2:hover {
    background: #fcc201;
}
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 35px;
    height: 100%;
    background-color: #333333;
    border-right: 1px solid #333;
  }
  nav a {
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    color: #dde2e3;
  }
  nav a:hover {
    color: #fcc201;
  }
  .tip1{
    top: 11.5em;
  }
  .tip2{
    top: 15.3em;
  }
  .tip3 {
    top: 19.4em;
    left: 3.3em;
  }
  .tip4{
    top: 23.2em;
  }
  .page{
    margin: 30px;
  }
  .truffle {
    font-size: 4em;
  }

  .blurb, .blurb2 {
   display: none;
  }
  .blurb3 {
    display: block;
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #dde2e3;
    margin-bottom: 2%;
    padding-left: 8%;
    
  }
  .importRecipe {
    width: 100%;
  }
}

/******************************************
/* RECIPE PAGE
/*******************************************/
.smallTruffle, .smallInput{
  float: left;
  clear: both;
}
.smallForm{
  width: 40%;
}
.smallTruffle {
  margin: 0;
  font-size: 4em;
  padding-left: 1em;
}
.recipe {
  border: 3px solid white;
  border-radius: 1em;
  background: white;
  width: 60%;
  height: 40%;
  margin-left: 10em;
  margin-top: 10em;
  margin-right: 10em;
}
.recipePt1 {
  margin: 3em 3em 0 3em;
}
.recipePt2 {
  margin: 0 2.5em 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recipeImage, .recipeStuff {
  display: inline-block;
}
.recipeImage {
  width: 10em;
  height: 10em;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
.recipeStuff {
  position: relative;
  top: -5em;
  margin-left: 1em;
}
.recipeName {
  position: relative;
  font-size: 2em;
  height: 1em;
  margin-bottom: 1em;
  color: black;
}
.recipeCook, .recipeServings, .recipeOg {
  position: relative;
  margin-bottom: 2em;
  color: black;
}
.recipeCook, .recipeServings {
  margin-right: 1em;
}
.recipeOg {
  color: white;
}
.recipeIngredients, .recipeInstructions {
  font-size: 1em;
  font-family: 'Nunito Sons', sans-serif;
  padding: 0.5em;
  color: black;
  margin: 0;
  padding: 0 0 1em 0;
}
.recipeIngredients {
  list-style-type: none;
}
.recipeInstructions {
  line-height: 1.5em;
} 
.strong {
  padding-bottom: 1.3em;
}
.border {
  border-bottom: 1px solid #f2f2f2;
}
.recipeIngredients2, .recipeInstructions2 {
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 0 0 0 2em;
}
.recipeInstructions2 {
  padding-left: 2em;
}
.recipeIngredients2 {
}
strong {
  font-size: 1.5em;
}
.fas {
  color: black;
}
/******************************************
/* MEDIA QUERIES FOR RECIPE PAGE
/*******************************************/
/* @media screen and (max-width: 1440px) {
  .smallForm {
    position: relative;
    width: 80%;
  }
} */
@media screen and (max-width: 768px) {
  .smallForm {
    position: relative;
    width: 80%;
    margin: 0;
  }
  .page {
    padding-right: 0;
  }
  .recipe {
    width: 100%;
    margin: 3em 0 0 0;
  }
  .recipePt2 {
    margin: 3em 0 0 0;
  }
}
@media screen and (max-width: 480px) {
  .smallForm {
    padding-left: 1.5em;
  }
  .recipeCook, .recipeServings, .serving, .recipeOg, #clock, #pie, #link{
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .recipeImage {
    position: relative;
    margin: 0;
    padding: 0;
    height: 6em;
    width: 6em;
  }
  .page {
    margin-right: 0;
    padding-left: 3px;
  }
  .recipePt1 {
    margin: 0;
  }
  .recipeName {
    margin: 0;
    padding-left: 5.5em;
    font-size: 1.2em;
  }
}